* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: rgb(2,60,18);
    background: radial-gradient(circle, rgba(2,60,18,1) 0%, rgba(0,0,0,1) 100%);
}

#time {
    font-size: 6em;
    color: white;
    text-shadow: 0 0 20px rgb(165, 206, 70);
    text-align: center;
    height: 100v;
    line-height: 100vh;
    font-family: 'Notable', sans-serif;
}